:root {
  --background-color: #282828;
  --red-color: #FB4934;
  --green-color: #98971A;
  --yellow-color: #D79921;
  --blue-color: #458588;
  --purple-color: #B16286;
  --aqua-color: #689D6A;
  --orange-color: #D65D0E;
  --foreground-color: #EBDBB2;
  --mule-fawn-color: #965d32F2;
  --jaffa-color: #ed893999;
  --greeen-color: #4e3e23E6;
  --west-coast-color: #613e1cF2;
  --laser-color: #cdb079;
  --energy-yellow-color: #f9d34e;
}

/* Basic styling*/
body {
background-image: url('img/background.png');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
margin: 0;
padding: 0;
font-family: Arial, sans-serif;
}

header {
color: var(--laser-color);
background: var(--west-coast-color);
max-width: 800px;
margin: auto;
padding: 2rem;
border-radius: 1rem;
text-align: center;
}

nav {
max-width: 800px;
margin: auto;
padding: 0.5em 2rem;
background: var(--mule-fawn-color);
border-radius: 1rem;
display: flex;
justify-content: center;
}

nav a {
text-decoration: none;
color: var(--background-color);
background: var(--jaffa-color);
padding: 0.2em 1em;
margin: 0.1em 1em;
border-radius: 0.6em;
font-weight: bold;
}

.container {
max-width: 800px;
margin: auto;
padding: 2rem;
background: var(--foreground-color);
border-radius: 1em;
}


h2, h3 {
margin-top: 2rem;
color: var(--green-color);
}

button {
  background-color: var(--green-color);
  color: var(--background-color);
  border: none;
  padding: 0.5em 1em;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: var(--aqua-color);
}

a {
color: var(--blue-color);
text-decoration: none;
}
a:hover {
color: var(--orange-color);
}


footer {
text-align: center;
padding: 1rem 0;
margin-top: 2rem;
color: #666;
}

.post-card {
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
}

.post-card a {
  color: #0077cc;
  text-decoration: none;
}

.post-card a:hover {
  text-decoration: underline;
}

